<% content_for :title do %>Blog<% end %>

<section class="blog-top">
  <h1 class="blog-header col-md-6 col-md-offset-3">Tales from the gym</h1>
</section>

<section class="blog-main">
  <div class="container">

    <div>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'New blog post', new_blog_path, :class =>"new-blog-post-button" %>
      <% end %>
    </div>

    <center class="col-md-6 col-md-offset-3">
      <p><strong>Nominate someone Inspirational:</strong> Do you have a inspirational story we can appreciate? Want to nominate someone you know? Or do you have a question for one of our inspirational individuals? <%= link_to "Let us know", new_contact_path %></p>
    </center>

    <div class="col-md-9 col-md-offset-1">
      <% @blog_posts.order("created_at DESC").each do |blog_post| %>
        <div class="blog-article col-md-12">
          <h2 class="blog-post-title"><%= link_to "#{blog_post.title}", blog_path(:id => blog_post.id) %></h2>
          <p class="blog-date"><%= blog_post.created_at.strftime("%B %m, %Y ") %> | David Kushnir</p>
          <%= blog_post.content.html_safe[0..350].html_safe %>...
        </div>
      <% end %>
    </div>

    <%= will_paginate @blog_posts, renderer: BootstrapPagination::Rails %>

  </div>
</section>

