<section class="new-blog">

  <div class="container">
    <h1 class="header">New Blog Post</h1>
    <%= form_for @blog_post do |f| %>
      <div>
        <h3>Blog post title</h3>
        <%= f.text_field :title, placeholder: "Blog post title" %>
      </div>
      <div>
        <h3>Blog post content</h3>
        <%= f.text_area :content, :class =>"redactor" %>
      </div>
      <div>
        <%= f.submit 'Create blog post', :class => "create-blog-post-button" %>
      </div>
    <% end %>
  </div>

</section>

<script>

// $(document).ready(function() {
//   $('.redactor').redactor({
//     imageUpload: "<%= Rails.root.join('app', 'uploaders', 'redactor_rails_picture_uploader.rb') %>",
//     fileUpload: "<%= Rails.root.join('app', 'uploaders', 'redactor_rails_document_uploader.rb') %>"
//   });
// });

</script>
