<section class="homepage-main">
  <div class="container">
  	<div class="headers col-md-12">
  		<p class="homepage-subheader col-md-10 col-md-offset-1">i2i  was created to help support individuals achieve their fitness and wellbeing goals. With any type of goal,comes roadblocks.. We are here to help train and mentor you through those roadblocks and get you where you want to be!</p>
  	</div>
  	<div class="start-now">
  		<%= link_to 'Get started  &#8594;'.html_safe, services_path, :class => "start-now-button col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2" %>
  	</div>
  </div>
</section>

<section class="homepage-second">
	<div class="container">

		<h2 class="homepage-third-header">Latest blog posts</h2>
		<%= image_tag "divider_1.png" %>
		<% @blog_post_previews.reverse.each do |blog_post| %>
			<div class="col-md-4">
				<h4 class="blog-post-title"><%= link_to "#{blog_post.title}", blog_path(:id => blog_post.id) %></h4>
				<p class="blog-post-created">Posted <%= time_ago_in_words(blog_post.created_at) %> ago</p>
				<p class="blog-post-content"><%= truncate(strip_tags(blog_post.content), length: 105, separator: ' ') %></p>
				<p class="by-david">By: David Kushnir</p>
			</div>
		<% end %>


	</div>
</section>

<section class="homepage-image">
	<div class="container">
		<div class="quote-box">
			<blockquote class="col-md-5 col-md-offset-6">
				<h3 class="quote"><i class="fa fa-quote-left"></i> Do something today that your future self will thank you for. <i class="fa fa-quote-right"></i></h3>
			</blockquote>
		</div>
	</div>
</section>

<section class="homepage-third">
	<div class="container">
		<div class="row">

			<div class="video col-md-12">
				<h2 class="homepage-third-header">How can I help?</h2>
				<h4 class="homepage-third-subheader">Check out the video below</h4>
				<div class="video col-md-8 col-md-offset-2">
					<div class="videoWrapper">
						<iframe src="https://player.vimeo.com/video/126520892" width="100%" height="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="col-md-10 col-md-offset-1">

				<div class="col-md-6">

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					    	<%= image_tag "slideshow1.jpg", class: "carousel-image" %>
					      <div class="carousel-caption">
					      	<!-- <h3>Commitment</h3> -->
					      	<p>With anything in life, in order to achieve you must put work in. With my programs and advice I guarantee you results if you guarantee 100% commitment.</p>
					      </div>
					    </div>
					    <div class="item">
					    	<%= image_tag "slideshow2.jpg", class: "carousel-image" %>
					      <div class="carousel-caption">
					      	<!-- <h3>Determination</h3> -->
					      	<p>With the motivation from i2i you will have no choice but to be determined and inspired to reach your goals</p>
					      </div>
					    </div>
					    <div class="item">
					    	<%= image_tag "slideshow3.jpg", class: "carousel-image" %>
					      <div class="carousel-caption">
					      	<!-- <h3>Challenging</h3> -->
					      	<p>No one said this would be easy.. but it will be fun , exciting and life changing</p>
					      </div>
					    </div>
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <i class="fa fa-chevron-left"></i>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <i class="fa fa-chevron-right"></i>
					  </a>
					</div>
				</div>
				<div class="about col-md-6">
					<h4 class="join-me">Join me and the <span class="lowercase green">i2i</span> community through this <span class="green">journey</span></h4>
					<span class="decorative-line"></span>
					<p class="about-content">I created i2i for more than your traditional personal training business. I want others to acquire knowledge of living a healthy lifestyle to further inspire others through their daily action.</p>
					<p class="about-content">Begin your  mind and body transformation now , and I promise you wont look back!</p>
				</div>


				<div class="classes col-md-12">
					<div class="col-md-3">
						<h4 class="icon"><i class="fa fa-comments"></i></h4>
						<h3>1 on 1 Training</h3>
						<p class="training-content">Do you need encouragement to finish that last repetition? Do you need motivation to reach your goals? We all have those days where we can use that hands on motivation. 1 on 1 training gives you that extra push when you think you have nothing left.</p>
					</div>
					<div class="col-md-3">
						<h4 class="icon"><i class="fa fa-desktop"></i></h4>
						<h3>Online Training</h3>
						<p class="training-content">Not everyone needs a personal trainer by their side at all times. Online training gives you a full workout plan detailing what to do.. when to do it and how! This is for the individual who has the motivation but not the moves.</p>
					</div>
					<div class="col-md-3">
						<h4 class="icon"><i class="fa fa-stethoscope"></i></h4>
						<h3>Diet/Nutrition</h3>
						<p class="training-content">Whether you are trying to lose weight, change your eating habits or just want to start eating clean, the i2i nutrition plan will provide you with the necessary information to achieve your goals.</p>
					</div>
					<div class="col-md-3">
						<h4 class="icon"><i class="fa fa-bullhorn"></i></h4>
						<h3>i2i Athlete</h3>
						<p class="training-content">Are you trying to increase your lateral speed, vertical jump , or anything sports related? i2i Athlete focuses on sports related training, conditioning and skills work to get you ready for the upcoming season.</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
