<div class="container">
	<%= simple_form_for Contact.new, :html => {:class => 'form-horizontal col-md-6 col-md-offset-3' }, remote: true do |f| %>
	  <%= f.input :name, placeholder: "Enter your name", :required => true %>
	  <%= f.input :email, placeholder: "Enter your email address", :required => true %>
	  <%= f.input :message,  placeholder: "Message", :as => :text, :required => true %>
	  
	  <div class= "hidden">
	    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	  </div>

	  <div>
	    <%= f.button :submit, 'Send message', data: { "loading-text" => "Sending..." }, :class=> "btn btn-primary contact-submit" %>
	  </div>
	<% end %>
</div>